# Ignore Minecraft world data
world/
world_nether/
world_the_end/

# Ignore logs
logs/
*.log

# Ignore cache
cache/
*.cache

# Ignore temporary files
*.tmp
*.temp

# Ignore crash reports
crash-reports/

# Ignore things that server sets
whitelist.json
ops.json

# Ignore user data
plugins/Essentials/userdata/
plugins/AuraSkills/userdata/
usercache.json

# Ignore console history
.console_history
plugins/LuckPerms/json-storage/actions.txt
plugins/LuckPerms/json-storage/uuidcache.txt

# Essentials
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin

# World Edit
plugins/FastAsyncWorldEdit/schematics
plugins/FastAsyncWorldEdit/clipboard

# World Map
plugins/squaremap/data
plugins/squaremap/web

# AuraSkills
plugins/AuraSkills/backups